/*** CSS Styles  ***/

.credit {
	display: none;
}

/* Général  */
body {
	background-color: #e9f1f9;
	background-image: url('../images/fond.png');
	background-size: cover;
	margin: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
	font-weight: normal;
	color: #002963;
	margin: 0;
}

h3 {
	font-size: small;
	font-weight: normal;
	opacity: 50%;
	margin-top: 0;
}

header img {
	width: 100vw;
	position: fixed;
	margin-top: 0;
	z-index: 10;
}

footer {
	width: 100vw;
	background-image: url('../images/footer.png');
	position:fixed;
	bottom:0;
	z-index: 11;
	padding: 8px;
	text-align: center;
	color: #002963;
}

.albums-grid {
	display: grid;
	grid-template-columns: repeat(5, 120px);
	width: fit-content;
	position: absolute;
	right: 0;
	margin-top: 100px;
	margin-right: 100px;
}

.grid-item {
	margin: 5px;
	cursor: pointer;
	transition-duration: 0.3s;
}

.grid-item:hover {
	transform: scale(1.1);
	transition-duration: 0.3s;
}

.grid-item img {
	max-width: 100%; 
	height: auto; 
	border: solid black 1px;
  }

  .player {
	float: left;
	padding: 100px;
	position: absolute;
  }

  .cd {
	animation: none;
	width: 30vw;
	padding: 5%;
  }

  @keyframes cd-turning {
	0% {
	  transform: rotate(0deg);
	}
  
	100% {
	  transform: rotate(360deg);
	}
  }



.album-player, .photo {
	width: 30vw;
	margin-top: 10px;
}

.album-player {
	box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
	transition-duration: 0.5s;
}


.album-player:hover {
	transform:  rotate(-2deg);
	transition-duration: 0.5s;
}

.stars {
	cursor: pointer;
}


/* Responsive */

@media only screen and (max-width: 600px) {
	header, footer {
		display: none;
	}
	.albums-grid {
		display: grid;
		grid-template-columns: repeat(6, 50px);
		padding: 10px;
		margin-top: 100px 50px;
		position: relative;
	}
	.player {
		position: relative;
		top: 0;
		right: 0;
		padding: 50px;
	}

	.credit {
		display: inline;
		padding: 10px;
		font-size: small;
		color: #002963;
		text-align: center;
	}
  }